.row{
    margin-left: 20px;
    color:#fff;
}
.subHead{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.posters{
    margin-top: 0;
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    padding-top: 8px;
    overflow-y: hidden ;
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    margin-top: 0;
    padding-top: 0;
    max-height: 250px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.smallPoster{
    /* margin-top: 0; */
    /* padding-top: 0; */
    max-height: 150px;
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.pic:hover{
    transform: scale(1.2);
    transition: ease-in-out .1s;
    border-radius: 5px;

}