.NavBar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
    z-index: 1;

}

.logo{
    position: fixed;
    margin-top: 10px;
    left: 20px;
    width: 80px;
}

.avatar{
    position: fixed;
    right: 20px;
    margin-top: 10px;
    width: 30px;
}
.navItem{
    color:rgba(250, 250, 250, 0.8);
    cursor: pointer;
    font-size: .9rem;
    font-weight: 400;
}
.b{
    color: white;
    cursor:default; 
    font-weight: 700;
}

.barItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 140px;
    padding-top: 10px;
    width: 400px;
    float: left;
}


.navItem:hover{
    color: rgba(250, 250, 250, 0.5);
}
.b:hover{
    color: white;
}

