.banner{
    background-size: cover;
    height: 448px;
    width: 100%;
    color: white;

}
.content{
    padding-top: 140px;
    height: 190px;
    padding-left: 15px;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    width: 100%;
}
.button{
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    margin-right: 1rem;

}

#button1{
    color: black;
    background-color: #fff;
}

#button2{
    color: #fff;
    background-color: rgba(51, 51, 51, 0.5);
}

#button2:hover{
    background-color: rgba(37, 37, 37, 0.9);
}

#button1:hover{
    background-color: rgba(255, 255, 255, 0.8);
}



.description{

    margin-top: 10px;
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: .9rem;
    height: 150px;
    max-width: 360px;
    overflow-y: scroll ;
}

.description::-webkit-scrollbar{
    display: none;
}

.fade{
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.6), #111);
}
